Aditya Chirania <adityachirania97@gmail.com>
Adrian S Tam <adrian.sw.tam@gmail.com>
Alberto Gallegos Ramonet <alramonet@is.tokushima-u.ac.jp> <ramonet@fc.ritsumei.ac.jp>
Alberto Gallegos Ramonet <alramonet@is.tokushima-u.ac.jp> <shattered.feelings@gmail.com>
Alessio Bugetti <alessiobugetti98@gmail.com>
Alexander Afanasyev <alexander.afanasyev@ucla.edu>
Alexander D'souza <moijes12@gmail.com>
Alexander D'souza <moijes12@gmail.com> <moijes12@gmail.com)>
Alexander Krotov <krotov@iitp.ru> <ilabdsf@gmail.com>
Alexander Krotov <krotov@iitp.ru> <ilabdsf@yandex.ru>
Alina Quereilhac <alina.quereilhac@inria.fr> <aquereilhac@gmail.com>
Amir Ashtari <aashtari@cttc.es>
Amiraslan Haghrah <amiraslanhaghrah@gmail.com>
Andrea Sacco <andrea.sacco85@gmail.com> Andrea Sacco <unknown>
Andrey Mazo <mazo@iitp.ru> Andrey Hippo <ahippo@yandex.ru>
Andrey Mazo <mazo@iitp.ru> Andrey Mazo <ahippo@yandex.com>
Andrey Mazo <mazo@iitp.ru> Andrey Mazo <mazo@telum.ru>
André Apitzsch <andre.apitzsch@etit.tu-chemnitz.de>
Anh Nguyen <annguyen@ittc.ku.edu> Anh Nguyen <trucanh524@gmail.com>
Anna Poon <poon2@llnl.gov> <poon2@oslic4.llnl.gov>
Anna Poon <poon2@llnl.gov> <poon2@quartz1148.llnl.gov>
Anna Poon <poon2@llnl.gov> <poon2@quartz1916.llnl.gov>
Anna Poon <poon2@llnl.gov> <poon2@quartz1922.llnl.gov>
Anna Poon <poon2@llnl.gov> <poon2@quartz2306.llnl.gov>
Antti Mäkelä <zarhan@cc.hut.fi>
Biljana Bojovic <bbojovic@cttc.es> <biljana.bojovic@cttc.es>
Biljana Bojovic <bbojovic@cttc.es> <biljana.bojovic@gmail.com>
Biljana Bojovic <bbojovic@cttc.es> biljkus <unknown>
Borovkova Elena <borovkovaes@iitp.ru>
Borovkova Elena <borovkovaes@iitp.ru> Elena Buchatskaya <sunnmy@iitp.ru>
Brett Levasseur <brettl@ll.mit.edu> Brett Levasseur <unknown>
Brett Levasseur <brettl@ll.mit.edu> Brett <unknown>
Budiarto Herman <budiarto.herman@magister.fi> Budiarto Herman <buherman@gmx.com>
Budiarto Herman <budiarto.herman@magister.fi> <mailto:budiarto.herman@magister.fi>
Chandrakant Jena <chandrakant.barcelona@gmail.com>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@craig-dowells-imac.local>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@gmail.com>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@m354-pc01.ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ns-test>
Craig Dowell <craigdo@ee.washington.edu> <craigdo@ns-test.ee.washington.edu>
Craig Dowell <craigdo@ee.washington.edu> Craig Dowell <unknown>
Dan Broyles <dbroyl01@ku.edu> <muxman@sbcglobal.net>
Daniel Lertpratchya <nikkipui@gmail.com>
Dhiraj Lokesh <dhirajlokesh@gmail.com>
Dhiraj Lokesh <dhirajlokesh@gmail.com> <dhiraj.181co118@nitk.edu.in>
Duy Nguyen <duy@soe.ucsc.edu> Duy Nguyen <dnlove@gmail.com>
Eduardo Abinader <eduardo.abinader@gmail.com> <eduardoabinader@gmail.com>
Emmanuelle Laprise <emmanuelle.laprise@bluekazoo.ca> Emmanuelle Laprise <unknown>
Fabian Mauchle <fabian.mauchle@hsr.ch> <f1mauchl@hsr.ch>
Faker Moatamri <faker.moatamri@sophia.inria.fr> <faker.moatamri@inria.fr>
Faker Moatamri <faker.moatamri@sophia.inria.fr> fmoatamr <unknown>
Federico Maguolo <maguolof@dei.unipd.it>
Federico Maguolo <maguolof@dei.unipd.it> Federico Maguolo <federico.maguolo@dei.unipd.it>
Flavio Kubota <flaviokubota@gmail.com> <kubota@lrc.ic.unicamp.br>
Francisco Javier Sánchez-Roselly <fnavarro@ujaen.es> Francisco Javier Sanchez Roselly <franciscojavier.sanchezroselly@ujaen.es>
Frederic Urbani <frederic.urbani@inria.fr> frederic. <urbani@inria.fr>
Gaurav Sathe <gaurav.sathe@tcs.com> gauravsathe <unknown>
George F. Riley <riley@ece.gatech.edu>
Giovanni Grieco <giovanni@grieco.dev> <giovanni.grieco@poliba.it>
Giuseppe Piro <g.piro@giuseppepiro.com> Giuseppe Piro <g.piro@poliba.it>
Giuseppe Piro <g.piro@giuseppepiro.com> Giuseppe Piro <unknown>
Guillaume Seguin <guillaume@segu.in> Guillaume Seguin <guillaume.seguin@sophia.inria.fr>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo Carneiro <gjcarneiro@gmail.com>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo Carneiro <gjc@inescporto.pt>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo J. A. M.  Carneiro <gjcarneiro@gmail.com>
Gustavo J. A. M. Carneiro <gjc@inescporto.pt> Gustavo J. A. M. Carneiro <gjcarneiro@gmail.com>
Hajime Tazaki <tazaki@sfc.wide.ad.jp> Hajime Tazaki <tazaki@nict.go.jp>
Hemanth Narra <hemanth@ittc.ku.edu> Hemanth Narra <hemanthnarra222@gmail.com>
Hrishikesh Hiraskar <hrishihiraskar@gmail.com> <hrishihirakar@gmail.com>
Jared Dulmage <jared.dulmage@wpli.net> <jared.dulmage@caliola.com>
Jared Ivey <j.ivey@gatech.edu>
Jaume Nin <jnin@cttc.cat> Jaume Nin <unknown>
Jaume Nin <jnin@cttc.cat> <jnin@cttc.es>
Jaume Nin <jnin@cttc.cat> jaumenin <unknown>
Jaume Nin <jnin@cttc.cat> jnin <unknown>
Jayesh Akot <akotjayesh@gmail.com>
Joe Kopena <tjkopena@cs.drexel.edu>
Joe Kopena <tjkopena@nsnam-code.ece.gatech.edu>
John Abraham <john.abraham@gatech.edu> John Abraham <jabraham3@mail.gatech.edu>
John Abraham <john.abraham@gatech.edu> John Abraham <john.abraham.in@gmail.com>
John Abraham <john.abraham@gatech.edu> John Abraham <unknown>
Jordan Dorham <dorham1@llnl.gov> <dorham1@quartz1922.llnl.gov>
Josh Pelkey <jpelkey@gatech.edu> Josh Pelkey <joshpelkey@gmail.com>
Josh Pelkey <jpelkey@gatech.edu> Josh Pelkey <jpekey@gatech.edu>
Katerina Koutlia <katerina.koutlia@cttc.es>
Ken Renard <kenneth.renard@arl.army.mil> Ken Renard <kdrenard2@gmail.com>
Kirill Andreev <andreev@iitp.ru> <andreev@telum.ru>
Kirill Andreev <andreev@iitp.ru> Kirill V. Andreev <kirillano@yandex.ru>
Lalith Suresh <suresh.lalith@gmail.com> Lalith Suresh <unknown>
Lars Toenning <dev@ltoenning.de> <lars.toenning@gmail.com>
Leonard Tracy <lentracy@u.washington.edu> ltracy <unknown>
Lluís Parcerisa <parcerisa@gmail.com>
Luciano Jerez Chaves <ljerezchaves@gmail.com>
Lynne Salameh <l.salameh@cs.ucl.ac.uk>
Manuel Requena <mrequena@cttc.es> <manuel.requena@cttc.es>
Manuel Requena <mrequena@cttc.es> <manuel.requena@gmail.com>
Manuel Requena <mrequena@cttc.es> mrequena <unknown>
Marco Miozzo <marco.miozzo@cttc.es> mmiozzo <unknown>
Marco Miozzo <marco.miozzo@cttc.es> Unknown <mmiozzo@cttc.es>
Marco Miozzo <marco.miozzo@cttc.es> Unknown <mmiozzo@ubuntu>
Mathew Bielejeski <bielejeski1@llnl.gov> <mbielejeski@gmail.com>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <lacage@sophia.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@cutebugs.net>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@gmail.com>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <mathieu.lacage@inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> <Mathieu.Lacage@sophia.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mathieu@mathieu.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mlacage@nef.inria.fr>
Mathieu Lacage <mathieu.lacage@sophia.inria.fr> Unknown <mlacage@thira.inria.fr>
Matías Richart <mrichart@fing.edu.uy> <matis18@gmail.com>
Matteo Pagin <mattpagg@gmail.com>
Matthieu Coudron <matthieu.coudron@lip6.fr>
Matthieu Coudron <matthieu.coudron@lip6.fr> Matthieu Coudron <mattator@gmail.com>
Michele Polese <michele.polese@gmail.com>
Mirko Banchi <mk.banchi@gmail.com> mirko <unknown>
Mitch Watrous <watrous@u.washington.edu>
Mitch Watrous <watrous@u.washington.edu> Mitch Watrous <unknown>
Mitch Watrous <watrous@u.washington.edu> watrous <unknown>
Mohamed Amine Ismail <amine.ismail@sophia.inria.fr> iamine <unknown>
Mohit P. Tahiliani <tahiliani@nitk.edu.in> Mohit P. Tahiliani <tahiliani.nitk@gmail.com>
Muhammad Iqbal CR <kyuucr@gmail.com> <muh.iqbal.cr@gmail.com>
Natale Patriciello <natale.patriciello@gmail.com>
Nicola Baldo <nbaldo@cttc.es> <nicola@baldo.biz>
Peter D. Barnes, Jr. <barnes26@llnl.gov>
Peter D. Barnes, Jr. <barnes26@llnl.gov> Peter D. Barnes, Jr. <pdbarnes@llnl.gov>
Quincy Tse <quincy.tse@nicta.com.au> Quincy Tse <quincy.tse@gmail.com>
Raghuram Kannan <raghuramkannan40@gmail.com>
Raj Bhattacharjea <raj.b@gatech.edu> raj. <b@gatech.edu>
Ramon Bauza <monbauza@gmail.com> Ramon Bauza <unknown>
Rediet <getachew.redieteab@orange.com>
Ruben Merz <ruben@net.t-labs.tu-berlin.de> Ruben Merz <ruben.merz@ieee.org>
Sandra Lagen <slagen@cttc.es> <sandra.lagen@cttc.es>
Sascha Jopen <jopen@cs.uni-bonn.de> <jopen@informatik.uni-bonn.de>
Sascha Jopen <jopen@cs.uni-bonn.de> Sascha Alexander Jopen <unknown>
Saswat K. Mishra <clicksaswat@gmail.com>
Sébastien Deronne <sebastien.deronne@gmail.com> <sebastienderonne@MacBook-Pro-de-Sebastien.local>
Sébastien Deronne <sebastien.deronne@gmail.com> <sebastien.deronne@umons.ac.be>
Sebastien Vincent <vincent@clarinet.u-strasbg.fr>
Sebastien Vincent <vincent@clarinet.u-strasbg.fr> Sebastien Vincent <sebastien.vincent@turnserver.org>
Sharan Naribole <snaribole@apple.com> <sharan.naribole@gmail.com>
Shashwat Patni <shashwatpatni25@gmail.com>
Shashwat Patni <shashwatpatni25@gmail.com> <f20230390@goa.bits-pilani.ac.in>
Shefali Gupta <shefaligups11@gmail.com> <Shefaligups11@gmail.com>
Shikha Bakshi <shikhabakshi912@gmail.com>
Shravya K.S <shravya.ks0@gmail.com>
Stefano Avallone <stavallo@unina.it> <stavallo@gmail.com>
Stefano Avallone <stavallo@unina.it> <stefano.avallone@unina.it>
Steven Smith <smith84@llnl.gov> <smithsg84@gmail.com>
Timo Bingmann <timo.bingmann@student.kit.edu> Timo Bingmann <tbns@idlebox.net>
<tjkopena@cs.drexel.edu> <tjkopena@nsnam-code.ece.gatech.edu>
Tom Goff <tgoff@tgoff.net> Tom Goff <thomas.goff@boeing.com>
Tom Goff <tgoff@tgoff.net> Unknown <tgoff@tgoff.net>
Tom Henderson <tomh@tomh.org> Tom Henderson <unknown>
Tom Henderson <tomh@tomh.org> Unknown <tomh@ns-regression.ee.washington.edu>
Tom Henderson <tomh@tomh.org> Unknown <tomh@powerbook.local>
Tom Henderson <tomh@tomh.org> Unknown <tomh@ubuntu>
Tommaso Pecorella <tommaso.pecorella@unifi.it>
Tommaso Pecorella <tommaso.pecorella@unifi.it> <tommypec@gmail.com>
Tommaso Pecorella <tommaso.pecorella@unifi.it> Tommaso Pecorella <tpecorella@mac.com>
Tommaso Pecorella <tommaso.pecorella@unifi.it> Tommaso Pecorella <unknown>
Tommaso Zugno <tommasozugno@gmail.com>
Vedran Miletić <rivanvx@gmail.com>
Vedran Miletić <rivanvx@gmail.com> Vedran Miletić <unknown>
Yufei Cheng <yfcheng@ittc.ku.edu>
Yufei Cheng <yfcheng@ittc.ku.edu> Yufei Cheng <yfcheng0@gmail.com>
Zhiheng Dong <dzh2077@gmail.com>
Zoraze Ali <zoraze.ali@cttc.es>
